*{
    margin: 0;
    padding: 0;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px ;
    width: 300px;
}
#heading img{
    width: 350px;

}
.form{
    box-shadow: 0px 0px 26px 1px grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 540px;
    border-radius: 8px;
    padding: 8px;
    
}.form2{
    box-shadow: 0px 0px 26px 1px grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height:300px;
    border-radius: 8px;
    padding: 8px;
    
}.form3{
    box-shadow: 0px 0px 26px 1px grey;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    height:300px;
    border-radius: 8px;
    padding: 8px;
    
}
.button{
    display: flex;
    justify-content: right;
    width: 100%;
}
.form3 p{
    width: 400px;
}
.signin{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 0.1px solid grey;
    padding-left: 4px;
    
}
.num{
    width: 99%;
    height: 30px;
}
.first{
    width: 99.12%;
    display: flex;
    justify-content: space-between;
    
}
.first span{
    width: 219px;
}
.text{
    display: flex;
    height: 30px;
    width: 99%;
    

}
.dob select{
    width: 150px;
    height: 30px;
}
.main p {
    display: flex;
    width: 100%;
}
#gender{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#gender div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gender{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 30px;
    border: 1px solid black;
    border-radius: 7px;
    justify-content: space-between;
}
#gender span{
    width: 138px;
    align-items: center;
    justify-content: space-around;
    
}
.para  {
    display: flex;
    text-align: justify;
    width: 450px;
    padding: 2px;
    font-weight: lighter;
}
.date{
    width: 100%;
    
}
.btn{
    width: 190px;
    height: 40px;
    background-color: #00a400;
    border: 0.1px solid #00a400;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}.btn2{
    width: 400px;
    height: 50px;
    background-color: #1877f2;
    border: 0.1px solid #1877f2 ;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
#color{
    color: black;
}
h3 a{
    text-decoration: none;
    font-weight: 450;

}
h4{
    font-weight: 500;
    font-size: 28px;
}
.for a{
    text-decoration: none;
    font-size: 20px;
    color: #1877f2;


}
.navbar{
    display: flex;
    height: 50px;
    align-items: center;



}
.logo{
    height: 35px;
    width: 170px;
    display: flex;
    align-items: center;
}
.forget{
    width: 210px;
    height: 30px;
}
.btn3{
    width: 80px;
    height: 35px;
    border-radius: 8px;
    background-color: #1877f2;
    color: white;
    font-weight: 600;
    margin-right: 5px;
    border: 0.1px solid #1877f2 ;
}.btn4{
    width: 80px;
    height: 35px;
    border-radius: 8px;
    background-color: #d9dce2;
    color: white;
    font-weight: 600;
    margin-right: 5px;
    border: 0.1px solid #d9dce2 ;
    cursor: pointer;
}#btn{
    width: 80px;
    height: 35px;
    border-radius: 8px;
    background-color: #edeef1;
    color: white;
    font-weight: 600;
    margin-right: 5px;
    border: 0.1px solid #d9dce2 ;
    cursor: pointer;
}
#btn:hover{
    background-color: #1877f2;
    cursor: pointer;
}
.login{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    
}
.login input{
    border-radius: 8px;
    padding-left: 5px;
    margin-right: 5px;
}
.section{
    background-color: #e9ebee;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre{
    width: 500px;
    height: 300px;
    border: 2px solid grey;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}